dotfiles/.emacs.d/elpa/*
dotfiles/.emacs.d/elpaca/*
dotfiles/.emacs.d/projectile-bookmarks.eld
dotfiles/.emacs.d/auto-save-list
dotfiles/.emacs.d/projectile.cache
dotfiles/.emacs.d/bookmarks
dotfiles/.emacs.d/.last-package-update-day
dotfiles/.emacs.d/.org-id-locations
dotfiles/.emacs.d/ido.last
dotfiles/.emacs.d/eshell
dotfiles/.emacs.d/var
dotfiles/.emacs.d/tramp
dotfiles/.emacs.d/recentf
dotfiles/.emacs.d/history
dotfiles/.emacs.d/.hl-save
dotfiles/.emacs.d/backups/*
dotfiles/.emacs.d/autosave/*
dotfiles/.emacs.d/url/
dotfiles/.emacs.d/request/*
dotfiles/.emacs.d/smex-items
dotfiles/.emacs.d/session.*
dotfiles/.emacs.d/network-security.data
dotfiles/.emacs.d/org-gcal
dotfiles/.emacs.d/org-clock-save.el
dotfiles/.emacs.d/games/*
dotfiles/.emacs.d/ivy-youtube-history
dotfiles/.emacs.d/magithub/*
dotfiles/.emacs.d/.lsp-session-v1
dotfiles/.emacs.d/speed-type/
dotfiles/.emacs.d/persist/
dotfiles/.emacs.d/transient/
dotfiles/.emacs.d/workspace/
dotfiles/.emacs.d/.org-generic-id-locations
dotfiles/.emacs.d/.cache/
dotfiles/.emacs.d/aspell_words.txt
dotfiles/.emacs.d/forge-database.sqlite
dotfiles/.emacs.d/projects
init-secrets.el
cider-history
/dotfiles/.emacs.d/org-persist/
