emacs.d/elpa/*
emacs.d/projectile-bookmarks.eld
emacs.d/auto-save-list
emacs.d/projectile.cache
emacs.d/bookmarks
emacs.d/.last-package-update-day
emacs.d/.org-id-locations
emacs.d/ido.last
emacs.d/eshell
emacs.d/var
emacs.d/tramp
emacs.d/history
init-secrets.el
cider-history